1.

In [5]:
str = "This is a string."
list  = [1, 2, 3, 4, 5]
float = 3.14159
tuple = (1, 2, 3, 4, 5)

In [7]:
print (str,list , float ,tuple)

This is a string. [1, 2, 3, 4, 5] 3.14159 (1, 2, 3, 4, 5)

2.

In [ ]:
var1 is a string, because it is enclosed in single quotes.
var2 is a string, because it is enclosed in square brackets, but it contains a list of strings.
var3 is a list, because it is enclosed in square brackets and contains a list of strings.
var4 is a float, because it is a decimal number.

In [8]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [ ]:
3.

In [ ]:
Division (/): This operator divides the first operand by the second operand. For example, 10 / 2 will return the value 5.

In [9]:
print(10 / 2)

5.0

In [ ]:
Modulo (%): This operator returns the remainder of the division of the first operand by the second operand. For example, 10 % 2 will return the value 0.

In [10]:
print(10 % 2)

0

In [ ]:
Floor division (//): This operator divides the first operand by the second operand and rounds down the result to the nearest integer. For example, 10 // 2 will return the value 5.

In [11]:
print(10 // 2)

5

In [ ]:
Exponentiation ()**: This operator raises the first operand to the power of the second operand. For example, 2 ** 3 will return the value 8.

In [14]:
print(2 ** 3)

8

In [ ]:
4.

In [15]:
my_list = [
    "This is a string.",
    10,
    3.14159,
    (1, 2, 3),
    {"name": "Bard", "age": 100},
    True,
    False,
    None,
    complex(1, 2),
    b"This is a binary string.",
]

for element in my_list:
    print(f"Element: {element}, Type: {type(element)}")

Element: This is a string., Type: <class 'str'>
Element: 10, Type: <class 'int'>
Element: 3.14159, Type: <class 'float'>
Element: (1, 2, 3), Type: <class 'tuple'>
Element: {'name': 'Bard', 'age': 100}, Type: <class 'dict'>
Element: True, Type: <class 'bool'>
Element: False, Type: <class 'bool'>
Element: None, Type: <class 'NoneType'>
Element: (1+2j), Type: <class 'complex'>
Element: b'This is a binary string.', Type: <class 'bytes'>

In [ ]:
5.

In [16]:
def is_divisible(a, b):
    """
    Checks if the number A is purely divisible by number B.

    Args:
        a: The first number.
        b: The second number.

    Returns:
        True if the number A is purely divisible by number B, False otherwise.
    """

    count = 0
    while a % b == 0:
        count += 1
        a //= b

    return count > 0


def main():
    """
    Main function.
    """

    a = int(input("Enter the first number: "))
    b = int(input("Enter the second number: "))

    if is_divisible(a, b):
        print(f"The number {a} is divisible by {b} {count} times.")
    else:
        print(f"The number {a} is not divisible by {b}.")


if __name__ == "__main__":
    main()

Enter the first number:  54654
Enter the second number:  1644

The number 54654 is not divisible by 1644.

6.

In [17]:
def is_divisible_by_3(number):
    """
    Checks if the number is divisible by 3.

    Args:
        number: The number to check.

    Returns:
        True if the number is divisible by 3, False otherwise.
    """

    return number % 3 == 0


def main():
    """
    Main function.
    """

    numbers = [i for i in range(1, 26)]

    for number in numbers:
        if is_divisible_by_3(number):
            print(f"The number {number} is divisible by 3.")
        else:
            print(f"The number {number} is not divisible by 3.")


if __name__ == "__main__":
    main()

The number 1 is not divisible by 3.
The number 2 is not divisible by 3.
The number 3 is divisible by 3.
The number 4 is not divisible by 3.
The number 5 is not divisible by 3.
The number 6 is divisible by 3.
The number 7 is not divisible by 3.
The number 8 is not divisible by 3.
The number 9 is divisible by 3.
The number 10 is not divisible by 3.
The number 11 is not divisible by 3.
The number 12 is divisible by 3.
The number 13 is not divisible by 3.
The number 14 is not divisible by 3.
The number 15 is divisible by 3.
The number 16 is not divisible by 3.
The number 17 is not divisible by 3.
The number 18 is divisible by 3.
The number 19 is not divisible by 3.
The number 20 is not divisible by 3.
The number 21 is divisible by 3.
The number 22 is not divisible by 3.
The number 23 is not divisible by 3.
The number 24 is divisible by 3.
The number 25 is not divisible by 3.

In [ ]:
7.

In [19]:

my_list = [1, 2, 3]

my_list(0)=0